<p>subject works!</p>
<mat-card (click)="changeFinish()" [ngClass]="{
  'subject-card':true,
  'finished':data.finished,
  'not-finished':!data.finished
  }">
  <mat-card-title-group>
    <mat-card-subtitle>{{data.id}}</mat-card-subtitle>
    <mat-card-title>{{data.name}}</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <mat-list>
      <mat-list-item>Kredit:{{data.kredit}} </mat-list-item>
      <mat-list-item>Előkövetelmények:</mat-list-item>
      <mat-list-item style="margin-left:10%" *ngFor="let item of  parentNames; index as i;">{{item}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
