<mat-card (click)="changeFinish()" [ngClass]="{
  'subject-card':true,
  'finished':data.finished&&!spec,
  'not-finished':!data.finished&&!spec,
  'finished--spec':data.finished&&spec,
  'not-finished--spec':!data.finished&&spec
  }">
  <mat-card-title-group>
    <mat-card-subtitle>{{data.id}}</mat-card-subtitle>
    <mat-card-title>{{data.name}}</mat-card-title>
  </mat-card-title-group>
  <mat-card-content class="content">
    Kredit:{{data.kredit}} <br>
    <div *ngIf="getHasParents()">Előkövetelmények:<br><br></div>
    <div style="margin-left:10%" *ngFor="let item of  parentNames; index as i;">{{item}}</div>
  </mat-card-content>
</mat-card>
